:root {
  --_wizemice---wizeblack: #111;
  --_wizemice---wizelightgrey: #b7b7b7;
  --_wizemice---wizedarkgrey: #1e1e1e;
  --_wizemice---wizewhite: #f4f4f4;
  --_wizemice---wizeblue: #31d0f3;
  --untitled-ui--primary600: #7f56d9;
  --_wizemice---wizegreen: #20e9b5;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--white: white;
  --untitled-ui--gray700: #344054;
  --untitled-ui--gray50: #f9fafb;
  --untitled-ui--gray800: #1d2939;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--gray900: #101828;
  --_wizemice---wizered: #f33d54;
  --bordinha10-wize: 10px;
  --wizehighgrey: #414141;
  --_wizemice---wizeyellow: #f5c73c;
  --_wizemice---wizeorange: #f57a3e;
  --_wizemice---wizepink: #f96fe9;
  --untitled-ui--gray600: #475467;
  --untitled-ui--primary700: #6941c6;
  --untitled-ui--primary50: #f9f5ff;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.hero-heading-left {
  z-index: -3;
  background-color: var(--_wizemice---wizeblack);
  border-bottom: 1px #e4ebf3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 6rem;
  font-family: Barlow, sans-serif;
  display: block;
  position: static;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  font-family: Barlow, sans-serif;
  display: flex;
}

.margin-bottom-24px {
  color: var(--_wizemice---wizelightgrey);
  margin-bottom: 24px;
  font-family: Barlow, sans-serif;
  font-size: 1rem;
  line-height: 140%;
}

.button-primary {
  pointer-events: none;
  color: #121212;
  letter-spacing: 3px;
  text-transform: none;
  cursor: auto;
  background-color: #31d0f3;
  background-image: none;
  border-radius: 10px;
  padding: 12px 25px;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px #96a3b514;
}

.body {
  background-color: var(--_wizemice---wizedarkgrey);
}

.heading {
  color: #f4f4f4;
  font-family: Barlow, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.team-slider {
  background-color: #121212;
  border-bottom: 0 solid #e4ebf3;
  border-radius: 0;
  padding: 80px 30px;
  position: relative;
}

.centered-heading {
  color: #f4f4f4;
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  color: #f4f4f4;
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  font-family: Open Sans, sans-serif;
}

.team-slider-wrapper {
  background-color: #0000;
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper {
  border-radius: 0;
  width: 30%;
  margin-right: 5%;
  padding-bottom: 0;
}

.team-block {
  background-color: #292929;
  border-radius: 10px;
  padding-bottom: 0;
}

.team-member-image-two {
  border-radius: 0;
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  color: #f4f4f4;
  margin-bottom: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
}

.team-member-text {
  color: #f4f4f4;
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  color: #f4f4f4;
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.section {
  background-color: #121212;
  padding-top: 0;
  padding-bottom: 0;
}

.text-block {
  color: #f4f4f4;
  font-family: Open Sans, sans-serif;
}

.text-block-2, .text-block-3 {
  color: #f4f4f4;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.slider {
  background-color: #12121200;
}

.section-2 {
  background-color: #1b1b1b00;
  border-radius: 0;
}

.team-circles {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-2 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading-2 {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.team-grid {
  grid-column-gap: 64px;
  grid-row-gap: 55px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.team-card {
  color: #f4f4f4;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: flex;
}

.team-member-image {
  object-fit: cover;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  margin-bottom: 24px;
}

.team-member-name {
  margin-bottom: 6px;
  font-family: Barlow, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.team-member-position {
  margin-bottom: 24px;
  font-family: Barlow, sans-serif;
}

.bold-text {
  color: #31d0f3;
}

.bold-text-2 {
  color: #20e9b5;
}

.bold-text-3 {
  color: #f57a3e;
}

.image, .image-2, .image-3 {
  margin-bottom: 10px;
}

.team-circles-2 {
  background-color: #1b1b1b00;
  border: 0 solid #000;
  padding: 60px 30px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-3 {
  color: #f4f4f4;
  text-align: center;
  margin-bottom: 16px;
  font-family: Barlow, sans-serif;
}

.centered-subheading-3 {
  color: #f4f4f4;
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  font-family: Barlow, sans-serif;
}

.team-grid-2 {
  grid-column-gap: 64px;
  grid-row-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  display: grid;
}

.team-card-2 {
  box-sizing: border-box;
  text-align: center;
  object-fit: fill;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: flex;
}

.team-member-image-2 {
  object-fit: cover;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  margin-bottom: 24px;
}

.team-member-name-2 {
  color: #f4f4f4;
  margin-bottom: 6px;
  font-family: Barlow, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.team-member-position-2 {
  color: #f4f4f4;
  margin-bottom: 24px;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.bold-text-4 {
  color: #f4f4f4;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
}

.image-4 {
  max-height: 120px;
  margin-bottom: 10px;
}

.bold-text-5 {
  color: #20e9b5;
}

.bold-text-6, .bold-text-7 {
  color: #31d0f3;
}

.bold-text-8 {
  color: #20e9b5;
}

.pricing-items {
  border-bottom: 0 solid #e4ebf3;
  padding: 40px 30px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-wrapper-two {
  flex-direction: column;
  margin-bottom: -40px;
  display: flex;
}

.pricing-card-two {
  color: #121212;
  background-color: #1b1b1b;
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 32px 40px;
  display: flex;
}

.pricing-image-two {
  max-width: 30%;
  margin-right: 40px;
}

.pricing-image-two.shadow-two {
  box-shadow: none;
  max-width: none;
  margin-right: 10px;
  overflow: auto;
}

.pricing-content {
  background-color: #1b1b1b;
  border-radius: 10px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  min-width: 35%;
  padding: 16px;
  font-family: Barlow, sans-serif;
  display: flex;
}

.tagline {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.pricing-info {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.pricing-divider-two {
  background-color: #1b1b1b;
  height: 3px;
  margin: 9px -16px 16px;
}

.pricing-details {
  color: #f4f4f4;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.pricing-block {
  margin-bottom: 0;
}

.pricing-details-text {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  display: block;
}

.heading-2 {
  color: #f4f4f4;
  font-size: 32px;
  font-weight: 400;
}

.heading-3 {
  color: #f4f4f4;
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
}

.bold-text-9 {
  color: #31d0f3;
}

.text-block-4 {
  color: #f4f4f4;
  text-align: center;
}

.container-5 {
  box-sizing: border-box;
  object-fit: fill;
  background-color: #121212;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  max-height: 100%;
  padding: 5px 10px;
  display: flex;
  overflow: visible;
}

.quick-stack {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  min-height: auto;
  max-height: none;
  margin-top: 20px;
  padding: 0;
}

.cell {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: block;
}

.cell-2 {
  justify-content: center;
  align-items: center;
}

.button {
  color: #121212;
  letter-spacing: 0;
  background-color: #31d0f3;
  border-radius: 10px;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.bold-text-10 {
  color: #f57a3e;
}

.bold-text-11 {
  color: #20e9b5;
}

.team-slider-2 {
  background-color: #12121200;
  border-bottom: 0 #e4ebf3;
  padding: 80px 30px 40px;
  font-family: Barlow, sans-serif;
  position: relative;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-4 {
  color: #f4f4f4;
  text-align: center;
  margin-bottom: 16px;
  font-family: Barlow, sans-serif;
  font-size: 1.75rem;
}

.centered-subheading-4 {
  color: var(--_wizemice---wizelightgrey);
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  font-family: Barlow, sans-serif;
  font-size: 1rem;
  line-height: 140%;
}

.team-slider-wrapper-2 {
  background-color: #0000;
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper-2 {
  width: 30%;
  margin-right: 5%;
}

.team-block-2 {
  color: #3330;
  background-color: #1b1b1b00;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  display: flex;
}

.team-member-image-two-2 {
  box-sizing: content-box;
  aspect-ratio: auto;
  object-fit: fill;
  max-width: 55%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: clip;
}

.team-block-info-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two-2 {
  color: var(--_wizemice---wizewhite);
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  line-height: 24px;
}

.team-member-text-2 {
  color: var(--_wizemice---wizelightgrey);
  text-align: center;
  margin-bottom: 0;
  font-family: Barlow, sans-serif;
  font-size: 1rem;
}

.text-link-arrow-2 {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed-2 {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow-2 {
  display: none;
}

.team-slider-nav-2 {
  direction: ltr;
  color: #fff;
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.bold-text-12 {
  color: #f33d54;
}

.bold-text-13 {
  color: var(--_wizemice---wizewhite);
}

.footer-subscribe {
  background-color: var(--_wizemice---wizeblack);
  color: #f4f4f4;
  border-bottom: 0 solid #e4ebf3;
  padding: 50px 30px 40px;
  position: relative;
}

.footer-form-two {
  background-color: #1b1b1b;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 64px;
}

.footer-form-container-two {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-form-title {
  color: #f4f4f4;
  font-family: Barlow, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.footer-form-block-two {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-form-input {
  background-color: var(--_wizemice---wizewhite);
  opacity: 1;
  backface-visibility: hidden;
  direction: ltr;
  color: var(--_wizemice---wizeblack);
  text-align: left;
  text-transform: none;
  overflow-wrap: normal;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border: 0 #000;
  border-radius: 10px;
  width: 460px;
  height: 55px;
  margin-bottom: 0;
  padding: 12px 180px 12px 20px;
  font-family: Barlow, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  text-decoration: none;
}

.footer-form-input::placeholder {
  color: #1a1b1fcc;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.button-primary-2.footer-form-button {
  letter-spacing: 0;
  text-transform: none;
  border-radius: 10px;
  padding: 8px 18px;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8px;
}

.footer-wrapper-three {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-block-three {
  color: #f4f4f4;
  justify-content: flex-start;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.footer-link-three {
  color: #f4f4f4;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.footer-link-three:hover {
  color: #1a1b1fbf;
}

.footer-social-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -32px;
  display: flex;
}

.footer-social-link-three {
  margin-left: 32px;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  display: flex;
}

.footer-copyright {
  color: #3f3f3f;
}

.footer-legal-block {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-legal-link {
  color: #3a4554;
  margin-left: 24px;
}

.footer-legal-link:hover {
  color: #3a4554;
}

.text-block-5 {
  text-align: left;
  font-family: Barlow, sans-serif;
  font-size: 1rem;
  line-height: 140%;
}

.text-block-5 a {
  text-decoration: none;
  color: inherit;
  transition: 275ms ease-out all;
}

.text-block-5 a:hover {
  opacity: 0.72;
}

.bold-text-14 {
  color: #f4f4f4;
  -webkit-text-stroke-color: #f4f4f4;
  font-weight: 600;
}

.bold-text-15 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

.bold-text-16 {
  color: #26d0f3;
}

.image-5 {
  max-width: 25px;
}

.container-7 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: none;
  margin-left: -8px;
  display: flex;
}

.image-6, .image-7, .image-8, .image-9 {
  max-width: 50%;
}

.div-block-2 {
  text-align: center;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.image-10 {
  min-width: auto;
  max-width: none;
  min-height: auto;
  max-height: 60vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div-block-3 {
  background-color: #121212;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  max-width: none;
  display: flex;
}

.uui-text-size-medium {
  color: var(--_wizemice---wizelightgrey);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding {
  background-color: var(--_wizemice---wizedarkgrey);
  margin-top: 0;
  padding: 6rem 1rem;
}

.uui-text-size-large {
  color: var(--_wizemice---wizelightgrey);
  letter-spacing: normal;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.uui-heading-xxsmall {
  color: var(--_wizemice---wizewhite);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-heading-medium {
  color: var(--_wizemice---wizewhite);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-family: Barlow, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
}

.uui-button {
  grid-column-gap: .5rem;
  grid-row-gap: 16px;
  border: 0px solid var(--untitled-ui--primary600);
  background-color: var(--_wizemice---wizeblue);
  color: var(--_wizemice---wizeblack);
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  min-width: auto;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button:hover {
  border-color: var(--_wizemice---wizelightgrey);
  background-color: var(--_wizemice---wizegreen);
}

.uui-button:focus {
  border: 0px none var(--_wizemice---wizewhite);
  background-color: var(--_wizemice---wizeblue);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-button-row.is-reverse-mobile-landscape {
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-button-row.is-reverse-mobile-landscape-copy {
  justify-content: flex-start;
  align-items: center;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-button-wrapper.max-width-full-mobile-landscape {
  border: 0 #000;
}

.uui-icon-1x1-xsmall {
  color: var(--_wizemice---wizeblue);
  width: 1.5rem;
  height: 1.5rem;
}

.uui-layout04_item-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.uui-layout04_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-items: center stretch;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.uui-layout04_content {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.uui-button-secondary-gray {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button-secondary-gray:hover {
  background-color: var(--untitled-ui--gray50);
  color: var(--untitled-ui--gray800);
}

.uui-button-secondary-gray:focus {
  background-color: var(--untitled-ui--white);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--gray100);
}

.uui-icon-featured-outline-large {
  border: 3px solid var(--_wizemice---wizeblue);
  background-color: var(--_wizemice---wizedarkgrey);
  color: var(--untitled-ui--primary600);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
}

.uui-layout04_image-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #12121200;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.uui-layout04_image-01 {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 40rem;
  min-width: 40rem;
  position: absolute;
  inset: auto auto auto 16%;
}

.uui-layout04_image-02 {
  width: 15.25rem;
  min-width: 15.25rem;
  position: absolute;
  inset: auto 0% -5rem 2rem;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-space-xxsmall {
  width: 100%;
  min-height: .5rem;
}

.uui-padding-vertical-xhuge {
  padding-top: 0;
  padding-bottom: 0;
}

.uui-heading-subheading {
  color: var(--_wizemice---wizeblue);
  margin-bottom: .75rem;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.text-block-6 {
  margin-left: auto;
  margin-right: auto;
  font-family: Barlow, sans-serif;
}

.bold-text-17 {
  color: var(--_wizemice---wizeblue);
}

.div-block-4 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-11 {
  padding-left: 2rem;
}

.image-12 {
  padding-right: 2rem;
  position: relative;
}

.image-13 {
  padding-right: 2rem;
}

.image-14 {
  padding-left: 2rem;
}

.div-block-5 {
  background-color: #1e1e1e00;
  padding-left: 1rem;
  padding-right: 1rem;
}

.div-block-6 {
  z-index: -1;
  background-color: var(--_wizemice---wizeblack);
  -webkit-text-fill-color: inherit;
  background-clip: padding-box;
  max-width: 100%;
  margin-bottom: -2rem;
  position: relative;
}

.div-block-7 {
  background-color: var(--_wizemice---wizeblack);
  padding: 5rem 1rem;
}

.bold-text-18 {
  color: var(--_wizemice---wizered);
}

.bold-text-19 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #f33d54, #ffeaaa 38%, #95ffe4 74%, #c1f4ff);
  -webkit-background-clip: text;
  background-clip: text;
}

.container-8 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  max-width: 80rem;
  display: flex;
}

.heading-4 {
  color: var(--_wizemice---wizewhite);
  text-align: center;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Barlow, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.quick-stack-2 {
  max-width: 20%;
  padding: 0;
}

.cell-3 {
  border-radius: var(--bordinha10-wize);
  background-color: var(--_wizemice---wizedarkgrey);
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.section-3 {
  background-color: var(--_wizemice---wizeblack);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.image-15 {
  padding-left: 10px;
  padding-right: 10px;
}

.cell-4 {
  border: 3px solid var(--_wizemice---wizeblue);
  border-radius: var(--bordinha10-wize);
  background-color: var(--wizehighgrey);
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container-9 {
  border-radius: var(--bordinha10-wize);
  background-image: linear-gradient(180deg, var(--_wizemice---wizeblack), var(--_wizemice---wizedarkgrey));
  min-width: auto;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.cell-5 {
  background-color: var(--_wizemice---wizeblack);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.text-block-7 {
  color: var(--_wizemice---wizelightgrey);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Barlow, sans-serif;
  font-size: .75rem;
}

.quick-stack-3 {
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.quick-stack-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.section-4 {
  min-height: 100vh;
}

.container-10 {
  z-index: -2;
  background-color: var(--_wizemice---wizeblack);
  color: var(--_wizemice---wizeblack);
  min-width: 100vw;
  max-width: 100vw;
  min-height: 200px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  position: absolute;
  bottom: auto;
  left: auto;
}

.container-11 {
  z-index: -11;
  background-color: var(--_wizemice---wizeblack);
  min-width: 100vw;
  max-width: 100vw;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
}

.section-5 {
  background-color: var(--_wizemice---wizeblack);
  min-height: 60px;
  max-height: 60px;
  margin-top: -50px;
}

.bold-text-20, .bold-text-21, .bold-text-22 {
  color: var(--_wizemice---wizewhite);
}

.div-block-8 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.div-block-8-copy {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
}

.image-16 {
  display: none;
}

.image-17 {
  position: relative;
}

.uui-layout04_image-wrapper-copy {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #12121200;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.image-19, .image-20 {
  padding-left: 5px;
  padding-right: 5px;
}

.cell-3-copy {
  border-radius: var(--bordinha10-wize);
  background-color: var(--_wizemice---wizedarkgrey);
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.background-video {
  width: auto;
}

.background-video-2 {
  z-index: 1;
  box-sizing: border-box;
  object-fit: none;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: auto;
  height: auto;
  min-height: 60vh;
  max-height: 60vh;
  display: block;
  position: static;
  overflow: auto;
}

.section-6 {
  background-color: var(--_wizemice---wizeblack);
}

.div-block-9 {
  margin-left: auto;
  margin-right: auto;
}

.div-block-10 {
  z-index: -2;
  background-color: var(--_wizemice---wizeblack);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  position: relative;
  top: 0;
  overflow: visible;
}

.background-video-3 {
  z-index: 0;
  box-sizing: border-box;
  float: none;
  clear: none;
  aspect-ratio: 1;
  opacity: 1;
  mix-blend-mode: normal;
  object-fit: fill;
  border: 0 solid #121212;
  border-radius: 0;
  min-width: auto;
  max-width: 100vw;
  min-height: auto;
  max-height: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: auto;
  overflow: auto;
}

.background-video-3-copy {
  z-index: 2;
  box-sizing: border-box;
  float: none;
  clear: none;
  aspect-ratio: 16 / 9;
  opacity: 1;
  mix-blend-mode: normal;
  object-fit: fill;
  border: 0 solid #101010;
  border-radius: 0;
  min-width: auto;
  max-width: none;
  min-height: 60vh;
  margin-left: 0;
  margin-right: 0;
  display: block;
  position: relative;
  top: auto;
  overflow: visible;
}

.image-17-copy {
  z-index: 2;
  opacity: .5;
  mix-blend-mode: normal;
  position: absolute;
}

.tabs {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: static;
}

.div-block-11 {
  background-color: var(--_wizemice---wizeblack);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: block;
}

.tabs-menu {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: var(--bordinha10-wize);
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-around;
  align-items: stretch;
  max-width: 20%;
  display: grid;
}

.tab-link-tab-1 {
  background-color: var(--_wizemice---wizedarkgrey);
  border-radius: 10px;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

.tab-link-tab-1.w--current {
  border: 3px solid var(--_wizemice---wizeblue);
  border-radius: var(--bordinha10-wize);
  background-color: var(--wizehighgrey);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.tab-link-tab-2 {
  border-radius: var(--bordinha10-wize);
  background-color: var(--_wizemice---wizedarkgrey);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.tab-link-tab-2.w--current {
  border: 3px solid var(--_wizemice---wizeblue);
  background-color: var(--wizehighgrey);
}

.tab-link-tab-3 {
  border-radius: var(--bordinha10-wize);
  background-color: var(--_wizemice---wizedarkgrey);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.tab-link-tab-3.w--current {
  border: 3px solid var(--_wizemice---wizeblue);
  background-color: var(--wizehighgrey);
}

.tabs-content {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  overflow: hidden;
}

.heading-5 {
  color: var(--_wizemice---wizewhite);
  text-align: center;
  font-family: Barlow, sans-serif;
  font-weight: 500;
}

.bold-text-23 {
  color: var(--wizehighgrey);
  font-weight: 400;
}

.quick-stack-3-copy {
  opacity: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.image-21 {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.slider-2 {
  aspect-ratio: auto;
  object-fit: fill;
  background-color: #ddd0;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: auto;
  display: block;
  position: relative;
  overflow: visible;
}

.mask {
  aspect-ratio: auto;
  position: relative;
  overflow: visible;
}

.slide {
  box-sizing: border-box;
  object-fit: fill;
  min-width: auto;
  position: static;
  overflow: visible;
}

.tabs-menu-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-8 {
  color: var(--_wizemice---wizewhite);
  font-family: Barlow, sans-serif;
}

.text-block-9 {
  font-family: Barlow, sans-serif;
}

.tab-link-tab-1-2 {
  border-radius: var(--bordinha10-wize);
  background-color: var(--wizehighgrey);
}

.tab-link-tab-1-2.w--current {
  border: 3px solid var(--_wizemice---wizeblue);
  border-radius: var(--bordinha10-wize);
  color: var(--_wizemice---wizewhite);
  background-color: #414141;
}

.tab-link-tab-2-2 {
  background-color: var(--wizehighgrey);
  color: var(--_wizemice---wizewhite);
  border-radius: 10px;
}

.tab-link-tab-2-2.w--current {
  border: 3px solid var(--_wizemice---wizeblue);
  background-color: var(--wizehighgrey);
}

.section-7 {
  z-index: 5;
  background-color: var(--_wizemice---wizeblack);
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.container-12 {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-23 {
  max-width: 8rem;
}

@media screen and (min-width: 1440px) {
  .team-member-image, .team-member-image-2 {
    width: 270px;
    height: 270px;
    max-height: none;
  }

  .pricing-image-two.shadow-two {
    box-shadow: none;
    background-color: #0000;
    max-width: none;
    overflow: auto;
  }

  .pricing-content {
    min-width: 35%;
  }

  .bold-text-9 {
    color: #31d0f3;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .container-2 {
    max-width: 728px;
  }

  .team-grid {
    grid-column-gap: 40px;
  }

  .team-member-image {
    width: 190px;
    height: 190px;
  }

  .container-3 {
    max-width: 728px;
  }

  .team-grid-2 {
    grid-column-gap: 40px;
  }

  .team-member-image-2 {
    width: 190px;
    height: 190px;
  }

  .container-4 {
    max-width: 728px;
  }

  .pricing-card-two {
    align-items: center;
    padding: 24px;
  }

  .pricing-image-two {
    margin-right: 20px;
  }

  .container-6 {
    max-width: 728px;
  }

  .team-slide-wrapper-2 {
    width: 47%;
    margin-right: 6%;
  }

  .footer-form-two {
    padding: 40px;
  }

  .footer-form-container-two {
    flex-flow: column;
  }

  .footer-form-title {
    margin-right: 15px;
  }

  .footer-form-input {
    width: 400px;
    padding-right: 180px;
  }

  .footer-wrapper-three {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-social-block-three {
    margin-top: 40px;
  }

  .container-7 {
    margin-left: auto;
  }

  .uui-page-padding {
    padding-top: 4rem;
  }

  .uui-text-size-large, .uui-heading-medium {
    text-align: center;
  }

  .uui-button {
    margin-bottom: -20px;
  }

  .uui-button-row.is-reverse-mobile-landscape-copy {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .uui-layout04_component {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    grid-template-columns: 1fr;
    min-height: auto;
  }

  .uui-layout04_content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .uui-layout04_image-wrapper {
    padding: 0 2rem;
  }

  .uui-layout04_image-01 {
    width: 100%;
    min-width: 100%;
    margin-right: -40%;
    position: static;
    left: auto;
    right: -2rem;
  }

  .uui-layout04_image-02 {
    width: 35%;
    min-width: auto;
    bottom: -15%;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-7 {
    padding-bottom: 0;
  }

  .heading-4 {
    font-size: 1rem;
  }

  .section-3 {
    padding-bottom: 0;
  }

  .div-block-8 {
    display: none;
  }

  .div-block-8-copy {
    display: block;
  }

  .image-16 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 0;
    display: block;
  }

  .image-17 {
    display: none;
  }

  .image-18 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .uui-layout04_image-wrapper-copy {
    padding: 0 2rem;
  }

  .image-17-copy {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading-left {
    padding: 60px 15px 4rem;
  }

  .team-slider, .team-circles {
    padding: 60px 15px;
  }

  .team-grid {
    grid-template-columns: 1fr 1fr;
  }

  .team-circles-2 {
    padding: 60px 15px;
  }

  .team-grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .pricing-items {
    padding: 60px 15px;
  }

  .pricing-card-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .pricing-image-two {
    max-width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .team-slider-2 {
    padding: 6rem 15px 60px;
  }

  .footer-subscribe {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-form-container-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-title {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-form-block-two {
    width: 100%;
    margin-top: 20px;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-wrapper-three {
    grid-column-gap: 31px;
    grid-row-gap: 31px;
  }

  .footer-block-three {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-link-three {
    margin-bottom: 10px;
  }

  .footer-social-block-three {
    margin-top: 10px;
  }

  .footer-bottom {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-copyright {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 20px;
  }

  .footer-legal-block {
    margin-top: 15px;
    margin-left: -24px;
  }

  .footer-legal-link {
    font-size: 14px;
    line-height: 20px;
  }

  .uui-page-padding {
    padding: 3rem 1rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .uui-text-size-large {
    font-size: 1rem;
  }

  .uui-heading-xxsmall {
    font-size: 1.125rem;
  }

  .uui-heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-button {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
  }

  .uui-button:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--_wizemice---wizegreen);
  }

  .uui-button-row {
    align-self: stretch;
  }

  .uui-button-row.is-reverse-mobile-landscape {
    flex-direction: column-reverse;
    margin-top: 2rem;
  }

  .uui-button-row.is-reverse-mobile-landscape-copy {
    flex-direction: column-reverse;
    margin-top: 4rem;
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .uui-layout04_item-list {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .uui-layout04_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-button-secondary-gray {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray:hover {
    background-color: var(--untitled-ui--white);
    color: var(--untitled-ui--gray700);
  }

  .uui-layout04_image-wrapper {
    min-height: auto;
    padding: 1.5rem 1rem;
  }

  .uui-layout04_image-01 {
    width: 100%;
    min-width: 100%;
    margin-right: -30%;
    position: static;
  }

  .uui-layout04_image-02 {
    width: 35%;
    max-width: none;
    bottom: -15%;
    left: 1rem;
  }

  .uui-space-xsmall {
    min-height: .75rem;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 0;
    padding-bottom: .5rem;
  }

  .div-block-7 {
    padding-top: 2rem;
  }

  .container-8 {
    flex-flow: column;
    padding-bottom: 3rem;
  }

  .quick-stack-2 {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }

  .section-3 {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .div-block-8-copy {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .uui-layout04_image-wrapper-copy {
    min-height: auto;
    padding: 1.5rem 1rem;
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .hero-heading-left {
    padding-top: 1rem;
  }

  .container {
    max-width: none;
  }

  .hero-split {
    justify-content: center;
    align-items: center;
  }

  .margin-bottom-24px {
    text-align: center;
    font-size: 16px;
  }

  .heading {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .team-circles-2 {
    padding-bottom: 20px;
  }

  .container-3 {
    max-width: none;
  }

  .centered-heading-3 {
    margin-bottom: 24px;
  }

  .team-grid-2 {
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .team-member-name-2 {
    line-height: 20px;
  }

  .team-member-position-2, .bold-text-4 {
    font-size: 14px;
  }

  .image-4 {
    max-width: 60%;
  }

  .pricing-items {
    padding-top: 20px;
  }

  .container-4 {
    max-width: none;
  }

  .pricing-card-two {
    justify-content: center;
    align-items: stretch;
    padding: 15px;
  }

  .pricing-image-two.shadow-two {
    max-width: 105%;
    margin-bottom: 0;
    margin-right: 0;
  }

  .pricing-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pricing-details {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -10px;
  }

  .pricing-block {
    margin-bottom: 10px;
  }

  .pricing-details-text, .heading-2 {
    text-align: center;
  }

  .button {
    font-size: 14px;
  }

  .container-6 {
    max-width: none;
  }

  .centered-heading-4 {
    margin-bottom: 24px;
  }

  .team-slide-wrapper-2 {
    width: 100%;
    margin-right: 0%;
  }

  .footer-form-two {
    padding: 20px;
  }

  .footer-form-title {
    text-align: center;
  }

  .footer-form-block-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-form-input {
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .button-primary-2.footer-form-button {
    background-color: var(--_wizemice---wizeblue);
    color: var(--_wizemice---wizeblack);
    position: relative;
    right: 0;
  }

  .footer-wrapper-three {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    justify-content: center;
    align-items: center;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .container-7 {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .uui-page-padding {
    margin-bottom: 0;
    padding-bottom: 6rem;
  }

  .uui-text-size-large, .uui-heading-medium {
    font-family: Barlow, sans-serif;
  }

  .uui-button {
    background-color: var(--_wizemice---wizeblue);
    margin-left: auto;
    margin-right: auto;
  }

  .uui-button:hover {
    background-color: var(--_wizemice---wizegreen);
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    margin-left: auto;
    margin-right: auto;
  }

  .uui-layout04_item-list {
    grid-template-columns: 1fr;
  }

  .uui-layout04_image-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .uui-layout04_image-01 {
    width: 150%;
    min-width: 150%;
    margin-right: -100%;
  }

  .uui-layout04_image-02 {
    width: 50%;
    bottom: -12%;
  }

  .uui-padding-vertical-xhuge {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
  }

  .uui-heading-subheading {
    font-family: Barlow, sans-serif;
  }

  .div-block-5 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .container-8 {
    padding-bottom: 1rem;
  }

  .heading-4 {
    margin-top: 0;
  }

  .image-15 {
    padding-top: 0;
  }

  .div-block-8-copy {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-layout04_image-wrapper-copy {
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  .image-19, .image-20 {
    margin-top: 0;
  }

  .div-block-10 {
    padding: 4rem 10px 2rem;
  }

  .tabs {
    flex-flow: column;
    display: flex;
  }

  .div-block-11 {
    margin-right: 10px;
    padding-top: 3rem;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .tabs-menu {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .tab-link-tab-1.w--current {
    flex-flow: column;
  }

  .image-22 {
    padding-top: 10px;
  }
}

#w-node-_4ca6f301-3e2c-01a0-2370-25b1f357f68f-3c655301 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_5a97cd8b-ba28-5757-30b4-b81c45d231b1-3c655301 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#w-node-_07aa5871-6831-00c9-e9bf-f76fc7f41236-3c655301 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_07aa5871-6831-00c9-e9bf-f76fc7f4123d-3c655301, #w-node-_52ec58a2-e97c-9ff0-acbb-577c430ea2d7-3c655301, #w-node-_52ec58a2-e97c-9ff0-acbb-577c430ea2de-3c655301 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 991px) {
  #w-node-_85a15eb5-d3f4-2cd5-f414-f331af428e76-3c655301 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_5a97cd8b-ba28-5757-30b4-b81c45d231b1-3c655301, #w-node-_07aa5871-6831-00c9-e9bf-f76fc7f4123d-3c655301, #w-node-_52ec58a2-e97c-9ff0-acbb-577c430ea2d7-3c655301, #w-node-_52ec58a2-e97c-9ff0-acbb-577c430ea2de-3c655301 {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}


